!!! Strict
%html{html_attrs('en')}
  %head
    %title Hush CMS Administration
    %meta{'http-equiv' => 'content-type', 'content' => 'text/html;charset=utf-8'}
    %meta{'http-equiv' => 'Content-Style-Type', 'content' => 'text/css'}
    = stylesheet_link_tag 'hush_cms_admin'
    
  %body
    #login
      - if flash[:message]
        .message
          = flash[:message]
          - flash.discard(:message)
          
      = yield
