- unless posts.empty?
  %ul#posts
    - posts.each do |post|
      - unless post.new_record?
        %li{:id => "post-#{post.id}"}
          = link_to post.title, hush_cms_admin_post_category_post_path(@post_category, post), :class => 'title'
          %span
            - if post.published?
              = "published #{post.published_at.to_s(:short)}"
            - else
              not published