- @title = @page.title
- @link = hush_cms_page_url(@page.path)

- content_for :sidebar do
  = link_to 'New Sub-page', new_hush_cms_admin_page_path(:parent => @page.id), :id => 'sidebar-new-page'
  = render :partial => 'pages', :object => @children

#breadcrumbs
  = link_to('Base Pages', hush_cms_admin_pages_path) + ' &raquo; '
  = @page.breadcrumbs.map { |p| link_to p.title, hush_cms_admin_page_path(p) }.join(' &raquo; ')

Other Content
