body {
	margin: 0;
	background-color: #FFF8DD;
	font-family: Helvetica;
}

h1 {
	margin: 0
}

#container {
	margin: 20px;
	padding: 20px;
	min-width: 870px;
	background-color: #fff;
	border: 1px solid #c9c4af;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
 	-opera-border-radius: 5px;
}

ul#navigation {
	margin: -15px 0;
	padding: 0;
	list-style: none;
	float: right;
	font-size: 0.8em;
}
ul#navigation li {
	float: left;
	margin-left: 10px;
}
ul#navigation li a {
	display: block;
	height: 16px;
	padding: 3px 0 0 18px;
	color: #278FD5;
	text-decoration: none;
	background-repeat: no-repeat;
}
ul#navigation li a:hover {
	text-decoration: underline;
}
ul#navigation li#nav-pages a {
	background-image: url(../images/hush_cms/page.png);
}
ul#navigation li#nav-posts a {
	background-image: url(../images/hush_cms/newspaper.png);	
}

#link {
	height: 16px;
	margin: 2px 0 20px;
}
#link a {
	background: url(../images/hush_cms/link.png) no-repeat;
	padding: 2px 0 0 18px;
	color: #444;
	font-size: 0.8em;
	text-decoration: none;
}

#sidebar {
	float: left;
	width: 220px;
	margin-right: 20px;
	padding: 10px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	-moz-border-radius: 8px;
  -webkit-border-radius: 8px;
 	-opera-border-radius: 8px;
}
#sidebar a#sidebar-new-page,
#sidebar a#sidebar-publish,
#sidebar a#sidebar-unpublish,
#sidebar a#sidebar-edit-page {
	display: block;
	font-size: 0.8em;
	color: #278FD5;
	margin-bottom: 5px;
	padding: 3px 0 0 18px;
	background-repeat: no-repeat;
	text-decoration: none;
}
#sidebar a#sidebar-new-page:hover,
#sidebar a#sidebar-publish:hover,
#sidebar a#sidebar-unpublish:hover,
#sidebar a#sidebar-edit-page:hover {
	text-decoration: underline;
}
#sidebar a#sidebar-new-page {
	background-image: url(../images/hush_cms/page_add.png);
}
#sidebar a#sidebar-publish {
	background-image: url(../images/hush_cms/lightbulb.png);
}
#sidebar a#sidebar-unpublish {
	background-image: url(../images/hush_cms/lightbulb_off.png);
}
#sidebar a#sidebar-edit-page {
	background-image: url(../images/hush_cms/page_edit.png);	
}

#content {
	float: left;
	width: 605px;
}

#rendered-content {
	border:1px solid #C9C4AF;
	padding:10px;
	-moz-border-radius: 2px;
  -webkit-border-radius: 2px;
 	-opera-border-radius: 2px;
}

#breadcrumbs {
	color: #2C5B7E;
	font-size: 0.8em;
	margin-bottom: 10px;
}
#breadcrumbs a {
	color: #4D99D5;
	font-weight: bold;
}

ul#pages {
	margin: 10px 0 0;
	padding: 0;
	list-style: none;
}
ul#pages li {
	position: relative;
	padding: 10px 0;
}
ul#pages li a.title {
	color: #222;
	text-decoration: none;
}
ul#pages li a.title:hover {
	text-decoration: underline;
}
ul#pages li .published {
	font-size: 0.7em;
	color: #666;
}
ul#pages li a.move-higher,
ul#pages li a.move-lower {
	display: none;
	position: absolute;	
	right: 0;
	height: 5px;
	width: 7px;
	padding: 3px;
}
ul#pages li.hover a.move-higher,
ul#pages li.hover a.move-lower {
	display: block;
}
ul#pages li a.move-higher img,
ul#pages li a.move-lower, img {
	position: absolute;
	border: none;
}
ul#pages li a.move-higher {
	top: 12px;
}
ul#pages li a.move-lower {
	bottom: 12px;
}

form .row {
	margin-bottom: 20px;
}
form .row label {
	font-weight: bold;
	display: block;
}
form .row input {
	border: 1px solid #ccc;
	width: 592px;
	padding: 5px;
	font-size: 0.8em;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
 	-opera-border-radius: 5px;
}
form .row input:focus {
	background-color: #ffe;
}
form .row textarea {
	width: 600px;
}
form .fieldWithErrors {
	position: relative;
}
form .fieldWithErrors .input-error {
	background-color: #FFEFA7;
	border: 1px solid #C7A061;
	position: absolute;
	top: 4px;
	right: 5px;
	padding: 3px;
	font-size: 0.7em;
	font-weight: bold;
	color: #a00;
	opacity: 0.8;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
 	-opera-border-radius: 5px;
}
