body {
	margin: 0;
	background-color: #FFF8DD;
	font-family: Helvetica;
}

h1 {
	margin: 0
}

#container {
	margin: 20px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #C9C4AF;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
 	-opera-border-radius: 5px;
}

ul#navigation {
	margin: -15px 0;
	padding: 0;
	list-style: none;
	float: right;
	font-size: 0.8em;
}
ul#navigation li {
	float: left;
	margin-left: 10px;
}
ul#navigation li a {
	display: block;
	height: 16px;
	padding: 3px 0 0 18px;
	color: #278FD5;
	text-decoration: none;
	background-repeat: no-repeat;
}
ul#navigation li a:hover {
	text-decoration: underline;
}
ul#navigation li#nav-pages a {
	background-image: url(../images/hush_cms/page.png);
}
ul#navigation li#nav-posts a {
	background-image: url(../images/hush_cms/newspaper.png);	
}

#link {
	height: 16px;
	margin: 2px 0 20px;
}
#link a {
	background: url(../images/hush_cms/link.png) no-repeat;
	padding: 2px 0 0 18px;
	color: #444;
	font-size: 0.8em;
	text-decoration: none;
}

#sidebar {
	float: left;
	width: 220px;
	margin-right: 20px;
	padding: 10px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	-moz-border-radius: 8px;
  -webkit-border-radius: 8px;
 	-opera-border-radius: 8px;
}
#sidebar a#sidebar-new-page {
	display: block;
	font-size: 0.8em;
	color: #278FD5;
	padding: 3px 0 0 18px;
	background-repeat: no-repeat;
	text-decoration: none;
}
#sidebar a#sidebar-new-page:hover {
	text-decoration: underline;
}
#sidebar a#sidebar-new-page {
	background-image: url(../images/hush_cms/page_add.png);
}

#content {
	float: left;
}

#breadcrumbs {
	color: #2C5B7E;
	font-size: 0.8em;
	margin-bottom: 10px;
}
#breadcrumbs a {
	color: #4D99D5;
	font-weight: bold;
}

ul#pages {
	margin: 10px 0 0;
	padding: 0;
	list-style: none;
}
ul#pages li {
	padding: 10px 0;
}
ul#pages li a.title {
	color: #222;
	text-decoration: none;
}
ul#pages li a.title:hover {
	text-decoration: underline;
}
ul#pages li .published {
	font-size: 0.7em;
	color: #666;
}
