body {
	margin: 0;
	background-color: #FFF8DD;
}
body, textarea {
	font-family: Helvetica;
}

h1, h3 {
	margin: 0
}

#container {
	margin: 20px;
	padding: 20px;
	min-width: 870px;
	background-color: #fff;
	border: 1px solid #c9c4af;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
 	-opera-border-radius: 5px;
}

ul#navigation {
	margin: -15px 0;
	padding: 0;
	list-style: none;
	float: right;
	font-size: 0.8em;
}
ul#navigation li {
	float: left;
	margin-left: 10px;
}
ul#navigation li a {
	display: block;
	height: 16px;
	padding: 3px 0 0 18px;
	color: #278FD5;
	text-decoration: none;
	background-repeat: no-repeat;
}
ul#navigation li a:hover {
	text-decoration: underline;
}
ul#navigation li#nav-pages a {
	background-image: url(../images/hush_cms/page.png);
}
ul#navigation li#nav-posts a {
	background-image: url(../images/hush_cms/newspaper.png);	
}
ul#navigation li#nav-images a {
	background-image: url(../images/hush_cms/image.png);	
}
ul#navigation li#nav-snippets a {
	background-image: url(../images/hush_cms/note.png);	
}
ul#navigation li#nav-comments a {
	background-image: url(../images/hush_cms/comments.png);	
}

#links {
	height: 16px;
	margin: 2px 0 20px;
}
#links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#links li {
	float: left;
	margin-right: 20px;
}
#links li a {
	display: block;
	height: 16px;
	padding: 2px 0 0 18px;
	color: #444;
	font-size: 0.8em;
	text-decoration: none;
	background-repeat: no-repeat;
}
#links li.link a {
	background-image: url(../images/hush_cms/link.png);
}
#links li.feed a {
	background-image: url(../images/hush_cms/feed.png);
}

#sidebar {
	float: left;
	width: 220px;
	margin-right: 20px;
	padding: 10px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	-moz-border-radius: 8px;
  -webkit-border-radius: 8px;
 	-opera-border-radius: 8px;
}
#sidebar a#sidebar-new-page,
#sidebar a#sidebar-publish,
#sidebar a#sidebar-unpublish,
#sidebar a#sidebar-edit-page,
#sidebar a#sidebar-delete-page,
#sidebar a#sidebar-new-category,
#sidebar a#sidebar-edit-category,
#sidebar a#sidebar-new-post,
#sidebar a#sidebar-edit-post,
#sidebar a#sidebar-delete-post,
#sidebar a#sidebar-new-snippet,
#sidebar a#sidebar-new-image,
#sidebar a#sidebar-delete-image,
#sidebar a#sidebar-permanent {
	display: block;
	font-size: 0.8em;
	color: #278FD5;
	margin-bottom: 5px;
	padding: 3px 0 0 18px;
	background-repeat: no-repeat;
	text-decoration: none;
}
#sidebar a#sidebar-new-page:hover,
#sidebar a#sidebar-publish:hover,
#sidebar a#sidebar-unpublish:hover,
#sidebar a#sidebar-edit-page:hover,
#sidebar a#sidebar-delete-page:hover,
#sidebar a#sidebar-new-category:hover,
#sidebar a#sidebar-edit-category:hover,
#sidebar a#sidebar-new-post:hover,
#sidebar a#sidebar-edit-post:hover,
#sidebar a#sidebar-delete-post:hover,
#sidebar a#sidebar-new-image:hover,
#sidebar a#sidebar-delete-image:hover,
#sidebar a#sidebar-new-snippet:hover {
	text-decoration: underline;
}
#sidebar a#sidebar-new-page {
	background-image: url(../images/hush_cms/page_add.png);
}
#sidebar a#sidebar-publish {
	background-image: url(../images/hush_cms/lightbulb.png);
}
#sidebar a#sidebar-unpublish {
	background-image: url(../images/hush_cms/lightbulb_off.png);
}
#sidebar a#sidebar-edit-page {
	background-image: url(../images/hush_cms/page_edit.png);	
}
#sidebar a#sidebar-delete-page {
	background-image: url(../images/hush_cms/page_delete.png);
}
#sidebar a#sidebar-new-category,
#sidebar a#sidebar-new-post {
	background-image: url(../images/hush_cms/newspaper_add.png);
}
#sidebar a#sidebar-edit-post,
#sidebar a#sidebar-edit-category {
	background-image: url(../images/hush_cms/pencil.png);
}
#sidebar a#sidebar-new-snippet {
	background-image: url(../images/hush_cms/note_add.png);
}
#sidebar a#sidebar-delete-post {
	background-image: url(../images/hush_cms/newspaper_delete.png);
}
#sidebar a#sidebar-new-image {
  background-image: url(../images/hush_cms/image_add.png);
}
#sidebar a#sidebar-delete-image {
  background-image: url(../images/hush_cms/image_delete.png);
}
#sidebar a#sidebar-permanent {
	color: #B1A656;
	background-image: url(../images/hush_cms/shield.png);
}

#content {
	float: left;
	width: 605px;
}

#rendered-content {
	border:1px solid #C9C4AF;
	padding:10px;
	-moz-border-radius: 2px;
  -webkit-border-radius: 2px;
 	-opera-border-radius: 2px;
}

#breadcrumbs {
	color: #2C5B7E;
	font-size: 0.8em;
	margin-bottom: 10px;
}
#breadcrumbs a {
	color: #4D99D5;
	font-weight: bold;
}

#sidebar ul {
	margin: 10px 0 0;
	padding: 0;
	list-style: none;
}
#sidebar ul li {
	position: relative;
	padding: 10px 33px 10px 0;
}
#sidebar ul li a.title {
	color: #222;
	text-decoration: none;
}
#sidebar ul li a.title:hover {
	text-decoration: underline;
}
#sidebar ul li span {
	display: block;
	font-size: 0.7em;
	color: #666;
}
#sidebar ul li a.move-higher,
#sidebar ul li a.move-lower {
	display: none;
	position: absolute;	
	right: 0;
	height: 5px;
	width: 7px;
	padding: 3px;
}
#sidebar ul li.hover a.move-higher,
#sidebar ul li.hover a.move-lower,
#sidebar ul li.hover a.delete-category,
#sidebar ul li.hover a.edit-category,
#sidebar ul li.hover a.delete-snippet,
#sidebar ul li.hover a.edit-snippet {
	display: block;
}
#sidebar ul li a.move-higher img,
#sidebar ul li a.move-lower img,
#sidebar ul li a.delete-category img,
#sidebar ul li a.edit-category img,
#sidebar ul li a.delete-snippet img,
#sidebar ul li a.edit-snippet img {
	position: absolute;
	border: none;
}
#sidebar ul li a.move-higher {
	top: 12px;
}
#sidebar ul li a.move-lower {
	bottom: 12px;
}
#sidebar ul li a.delete-category,
#sidebar ul li a.edit-category,
#sidebar ul li a.delete-snippet,
#sidebar ul li a.edit-snippet {
	display: none;
	position: absolute;
	top: 16px;
	height: 16px;
	width: 16px;
}
#sidebar ul li a.delete-category,
#sidebar ul li a.delete-snippet {
	right: 0;	
}
#sidebar ul li a.edit-category {
	right: 18px;
}

form .row {
	margin-bottom: 20px;
}
form .row label {
	font-weight: bold;
	display: block;
}
form .row input {
	border: 1px solid #ccc;
	width: 592px;
	padding: 5px;
	font-size: 0.8em;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
 	-opera-border-radius: 5px;
}
form .row input:focus {
	background-color: #ffe;
}
form .row textarea {
	width: 600px;
}
form .row textarea.simple {
	border: 1px solid #ccc;
	height: 60px;
	width: 592px;
	padding: 5px;
	font-size: 0.8em;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
 	-opera-border-radius: 5px;
}
form .row img.image {
  margin: 8px 0;
  padding: 2px;
  border: 1px solid #ccc;
}
form .row > span {
	display: block;
	font-size: 0.8em;
}
form .fieldWithErrors {
	position: relative;
}
form .fieldWithErrors .input-error {
	background-color: #FFEFA7;
	border: 1px solid #C7A061;
	position: absolute;
	top: 4px;
	right: 5px;
	padding: 3px;
	font-size: 0.7em;
	font-weight: bold;
	color: #a00;
	opacity: 0.8;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
 	-opera-border-radius: 5px;
}

.pagination {
  background-color: #eee;
  margin-top: 10px;
  padding: 5px;
  font-size: 0.8em;
  text-align: center;
  -moz-border-radius: 15px;
	-webkit-border-radius: 15px;
 	-opera-border-radius: 15px;  
}

ul.comments {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.comments li {
	border-bottom: 1px dotted #C9C4AF;
	padding: 10px 0;
}
ul.comments li .moderate {
	float: right;
}
ul.comments li .moderate a img {
	border: none;
}
ul.comments li .author {
	font-weight: bold;
}
ul.comments li .author span {
	font-weight: normal;
	font-size: 0.8em;
	color: #555;
}
ul.comments li p {
	margin: 5px 0 0 0;
	font-size: 0.8em;
	color: #846F41;
}

ul#images {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul#images li {
  float: left;
  position: relative;
  overflow: hidden;
  height: 144px;
  width: 104px;
  margin: 0 8px 10px 9px;
  text-align: center;
}
ul#images li > img {
  padding: 1px;
  border: 1px solid #ccc;
}
ul#images li span {
  display: block;
  font-size: 0.7em;
}
ul#images li .options {
  display: none;
}
ul#images li.hover .options {
  display: block;
  position: absolute;
  top: 84px;
  right: 3px;
}
ul#images li .options a img {
  border: none;
}
